@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

button{
    outline: none;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

h1{
    text-align: center;
    font-weight: 400;
    height: 10vh;
    padding: 1rem;
}



.App{
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.timeline{

    height: 90vh;
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
    justify-content: center;

    overflow: hidden;
}

.timeline-grid{
    display: grid;
    width: max-content;
    grid-template-columns: 1fr .9fr 1fr;
    width: max-content;

    height: 90vh;
}

.overlay-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;

    transition: all 0.2s;
}

body{
    /* background-image: url('./Assets/back.jpg'); */
    background-image: url('./Assets/back3.jpg');

    /* backdrop-filter: brightness(0.4); */

    background-color: #fafbff;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}



.Calendar-details{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    
    width: 7.55%;
    bottom: -14%;
    padding: 1rem;
    border-radius: 2px;

    transform: translateX(-111%);

    transition: all 0.4s;
}
.Calendar-details-2{
    bottom: 0;
    transform: translate(-118%,-200%);
}

.move-left,.move-right{
    position: absolute;
    height: 90vh;
    width: 4%;
    z-index: 11;
    transition: all 0.3s;

    bottom: 0;
}
.move-left:hover,.move-right:hover{
    background-color: #8f8e8e66;
}
.move-left svg,.move-right svg{
    width: 100%;
    stroke: rgb(38, 38, 38);
}
.move-left{
    left: 0;
}
.move-right{
    right: 0;
}