.Achievements{
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.Achievements h3{
    text-align: center;
    padding-top: 1rem;
}

.year-dashboard{
    display: flex;
    width: 100%;
    padding: 1rem;

    justify-content: center;
    align-items: center;

    gap: .6rem;
}
.month{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
}
.month p{
    font-size: .8rem;
}

.day{
    width: .7rem;
    height: .7rem;
    border-radius: 2px;
    background-color: #E9EDC9;
}

.day-info{
    width: 10rem;
    position: absolute;
    padding: .4rem 1rem;
    transform: translate(-45%, -109%);
    color: white;

    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
.week{
    display: flex;
    flex-direction: column;
    gap: .1rem;
}
.weeks{
    display: flex;
    gap: .1rem;
}

.null{
    border: none;
    background-color: white;
}