.Calendar-container{
    width: 38%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    position: relative;

    background-color: white;
    /* box-shadow: 0px 0px 14px #F7EFE5; */

    border: 1px solid black;

    padding: 1rem;

    transition: all 0.5s;

    border-radius: 4px;

}

.Calendar-container-2{
    scale: 0.6;
    transform: translateX(-2%);
    transform: translateY(-34%);
    width: 55%;
}
.Calendar-container-3{
    width: 36%;
    scale: 0.6;
    transform: translate(-66%,-54%);
}

.days{
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
}

.Calendar-button{

    width: 2.8rem;
    height: 2.8rem;

    background-color: white;
    border: 1px solid lightgray;

    transition: all 0.4s;
}
.Calendar-button:hover{
    scale: 1.1;
}   

.no-date{
    background-color: lightgray !important;
    color: lightgray;
    cursor: unset;
    border-radius: 50%;
}



.prev-month,.next-month{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 8;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}
.prev-month{
    align-self: center;
    justify-self: flex-start;
    margin-left: 1.2rem;
}
.next-month{
    align-self: center;
    justify-self: flex-end;
    margin-right: 1.2rem;
}
.prev-month svg,.next-month svg{
    width: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prev-month:hover {
    transform: translate(-5%);
}
.next-month:hover{
    transform: translate(5%);
}

.Calendar-MonthYear{
    color: #393053;
    position: absolute;
    top: 6%;
    right: 6%;
    transition: all 0.4s;

    font-weight: 600;
    text-align: end;

    line-height: 1.4rem;
}
.Calendar-MonthYear span{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    color: #443C68;
}


/* timeline (-46%) */


@keyframes example {
    0% {
      color: black;
      background-color: #f9f54b;
      border-radius: 0%;
      /* transform: rotate(370deg); */
    }
    10%{
        color: #fbf881;
    }
    50% {
      background-color: #fbf881;
      color: #fbf881;
      /* border-radius: 50%; */
      border-radius: 0%;
      background-image: url('../Assets/timer.png');
      background-position: center;
      background-size: cover;
      /* transform: rotate(0deg); */
    }
    60%{
        color: #fbf881;
    }
    100% {
        background-color: #f9f54b;
        border-radius: 0%;
        /* transform: rotate(370deg); */
    }
}
