.deadline{
    width: 45%;
    height: 80%;
    background-color: white;
    transition: all 0.5s;
    transition-delay: all 0.1s;
    align-self: flex-end;

    border-radius: 4px;
    padding: 0rem 1rem;

    overflow-y: scroll;
    overflow-x: hidden;

    scroll-behavior: smooth;
    border: 1px solid black;

    position: relative;
}

.deadline::-webkit-scrollbar{
    width: 1rem;
}

.deadline::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 2rem;
    margin-block: 1rem;
}
.deadline::-webkit-scrollbar-thumb{
    width: .8rem;
    background-color: #3b345a;
    border-radius: 2rem;

    border: .2rem solid white;
}

.deadline-2{
    height: 90%;
    width: 80%;
    transform: translateX(-10%);
}

.deadline-heading{
    text-align: center;
    color: #060047;
    padding: 1rem;
    margin-bottom: .2rem;

    position: sticky;
    width: 100%;
    z-index: 1;
    background-color: white;
    top: 0;
    left: 0;
}


.goals-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0rem;
    transition: all 0.4s;
}

.goals-container::after{
    
    color: rgb(181, 174, 174);

    content: '" Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do." ~ Pele';

    text-align: center;

    padding: 1rem;
    width: 90%;
    margin: 2rem 0rem;
}

.goal{

    scale: 0.9;

    width: 35rem;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 1rem;

    gap: 0.6rem;

    border-radius: 4px;

    transition: all 0.4s;

    cursor: pointer;
}


.goal-date{

    color: #443C68;
    width: fit-content;
    background-color: #F9F54B;
    padding: 0.6rem 0.4rem;

    border-radius: 4px;

    position: relative;
}

.goal div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.goal-title{
    font-size: 1.4rem;
    font-family: 'rubik';
    color : #301E67;
    width: 50%;
}

.goal-title-input{
    border: none;
    border-bottom: 1px solid lightgray;
    color: #301E67;
    outline: none;
    font-size: 1.2rem;
}

.goal-motivation{
    width: 27.6rem;
    padding: 0.6rem 0.4rem;
    color: #3D1766;
    background-color: #E5E0FF;

    font-size: 0.8rem;
    border-radius: 4px;
}

.goal-motivation-input{
    width: 27.6rem;
    padding: 0.6rem 0.4rem;
    color: #3D1766;
    background-color: white;
    font-size: 1rem;
    outline: none;
    border: none;

    box-shadow: 0px 0px 4px lightgray;

    height: 5rem;
    resize: none;

    font-family: 'rubik';;

    overflow-x: hidden;
    overflow-y: scroll;
}

.goal-motivation-input::-webkit-scrollbar{
    width: .1rem;
}

.goal-index{
    height: 2.8rem;
    width: 2.8rem;
    position: absolute;
    left: -32%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #0f6e6b;
    color: white;
    top: -100%;

    scale: 0.9;
}


.goal-buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0rem !important;
    /* right: -9%;
    top: -6%; */

    right: 2%;
    top: 13%;

    transition: all 0.4s;
}
.goal-buttons button{
    height: 2.8rem;
    width: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.goal-buttons svg{
    display: flex;
    width: 1.4rem;
    height: 1.6rem;
    fill: #939393;
    transition: all 0.3s;
}
.goal-buttons svg:hover{
    fill: rgb(17, 17, 17);
}
.time-left{
    display: flex;
    align-self: flex-end;
}

.goal-btn-container{
    justify-content: space-between;
}


.confirmation{
    flex-direction: column;
    position: absolute;
    left: 4rem;
    width: 8rem;
    gap: 0;

    padding: 1rem 0rem;

    align-items: center;
}
.confirmation button{
    width: 80%;
    height: fit-content;
    border-bottom: 2px;
    color: white;
    border-bottom: 1px solid white;
    padding: 0.1rem;
    transition: all 0.2s;
}
.confirmation button:hover{
    font-weight: 600;
}